body {
    text-align: center;
    background-clip: content-box;
}

button {
    color: white;
    width: 120px;
    border-color: blue;
    border-radius: 30px;
    padding: 10px 15px;
    background-color: blue;
    cursor: pointer;
    border: none;

}

input {
    border: 2px solid #000000;
    font-size: 30px;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    text-align: center;
    color: #000000;
    background-color: #ffffff;

}

html {
    background-image: url(./imagem.jpg );
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    color: black;
    font-size: 50px;
}

h2 {
    color: #000000;
    background-position: center;
    font-size: 40px;
}